.main-title {
    margin-bottom: 40px;
    color:var(--color-white);
    font-family: "Raleway";
    font-size: 29px;
    font-weight: 700;
}

.main-text {
    color:var(--color-white);
    font-family: "Raleway";
    font-size: 19px;
    font-weight: 400;
    max-width: 886px;
    line-height: 33.33px;
}

